.DetailWrapper{
    display: flex;
    max-width: 300px;
    box-sizing: border-box; 
    justify-content: space-between;
}


p{
    font-size: 10px;
}

hr { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}